*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: 2px dotted #000;
    outline-offset: 3px;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    background-color: #E5E5E5;
    color: #000;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
}

/* Header */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
}

.header__menu-nav__item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

 .header__menu-nav__items {
     list-style: none;
}

.header__menu-nav__items:not(:last-child) {
    margin-right: 12px;
}

.header__menu-nav__items__link {
    font-weight: 700;
    font-size: 23px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    background-color: rgba(202, 202, 202, 0.6);
    border: 1px solid #000000;
    border-radius: 100px;
    padding: 8px 12px;
}

.header__menu-nav__items__link:hover{
    background-color: #99FF91;
}

.header__menu-nav__items__link:active{
    background-color: #99FF91;
    opacity: 0.6;
}


.header__menu-nav__items__link-firstChild{
    background-color: #000;
    color: #fff;
}

.header__menu-nav__items__link-firstChild:hover {
    background-color: rgba(202, 202, 202, 0.6);
    color: #000;
}

.header__menu-nav__items__link-firstChild:active {
    background-color: rgba(202, 202, 202, 0.6);
    opacity: 0.6;
}

.header__menu-nav__items__link-lastChild{
    background-color: #99FF91;
}

.header__menu-nav__items__link-lastChild:hover{
    background-color: rgba(202, 202, 202, 0.6);
    color: #000;
}

.header__menu-nav__items__link-lastChild:active{
    background-color: rgba(202, 202, 202, 0.6);
    opacity: 0.6;
}


.header-container {
   display: flex;
   justify-content: center;
   align-items: center;
}

.header-container__img {
    max-width: 1300px;
    height: 200px;
    width: 100%;
} 

hr {
    border: 1px solid #000;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}
/* /Header */


/* MAIN */
/* Level */
.level {
    display: flex;
    justify-content: space-between;
}

.level__about {
    margin-right: 100px;
    margin-top: 100px;
}

.level__about__top-title {
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
}

.level__about__middle-title {
    font-weight: 700;
    font-size: 98px;
    line-height: 98px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    padding-top: 27px;
    padding-bottom: 10px;
}

.level__about__bottom-title {
    font-size: 28px;
    line-height: 32px;
    padding-bottom: 20px;
}

.level__about__text {
    font-size: 18px;
    line-height: 27px;
    padding-bottom: 35px;
}

.level__about__link {
    background-color: #99FF91;
    border-radius: 100px;
    border: 1px solid #000;
    color: #000;
    font-size: 20px;
    line-height: 10px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 23px;
}

.level__about__link:hover{
    background-color: #E5E5E5;
}

.level__about__link:active{
    background-color: #E5E5E5;
    opacity: 0.6;
}

.level__img {
    max-width: 590px;
    width: 100%;
    height: 690px;
}
/* /Level */

/* resption */
.resption {
    display: flex;
    align-items: flex-start;
    border-top: 2px solid #000;
    padding-top: 60px;
}

.resption__left-section {
    padding-right: 120px;
}

.resption_in-text p {
    font-weight: 700;
    line-height: 26px;
    font-size: 21px;
    color: #000000;
    margin: 0;
    padding: 0;
    
}

.resption_in-text h3 {
    font-weight: bold;
    font-size: 72px;
    line-height: 79px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
    padding: 0;
    padding-top: 40px;
}

.resption__number-box {
    margin-top: 50px;
}

.resption__number-box__items {
    display: flex;
    align-items: center;
    border: 1px solid #333333;
    border-radius: 36px;
    list-style: none;
    padding: 30px 70px 30px 20px;
}

.resption__number-box__items:not(:last-child) {
    margin-bottom: 20px;
}

.resption__number-box__items__img {
    margin-right: 20px;
}

.resption__number-box__items__title {
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.2px;
    padding-bottom: 20px;
}

.resption__number-box__items__text {
    line-height: 23px;
}

.resption__right-section {
    background: linear-gradient(180deg, #99FF91 0%, #61D1F2 100%);
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 36px;
    padding: 50px;
}

.resption__right-section__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 53px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
}

.resption__right-section__text {
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    padding: 0;
    margin: 0;
    padding-bottom: 100px;
}

hr:not(:last-child) {
    margin-bottom: 80px;
}

.resption__right-section__btn {
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    padding: 27px 167px 27px 167px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s ease;
}

.resption__right-section__btn:hover {
    background: #61D1F2 100%;
    color: #000;
}

.resption__right-section__btn:active {
    background: linear-gradient(180deg, #99FF91 0%, #61D1F2 100%);
}
/* /resption */

/* search-menu */
.search-menu {
    display: flex;
    align-items: center;
    padding: 80px 0;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    margin-top: 120px;
    margin-bottom: 70px;
}

.search-menu__img {
    max-width: 850px;
    width: 100%;
    height: 690px;
    margin: 0;
    padding: 0;
    margin-right: 100px;
}

.search-menu__text__top_title {
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    color: #000;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    padding-bottom: 35px;
}

.search-menu__text__main_title {
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 79px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    padding-top: 15px;
}

.search-menu__text__p1 {    
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 31px;
    padding: 0;
    margin: 0;
    padding-bottom: 15px;
}

.search-menu__text__p2 {
    line-height: 27px;
}

.search-menu__text__link {
    display: flex;
    align-items: center;
    margin-top: 70px;
}

.search-menu__text__link__left {
    margin-right: 15px;
    text-decoration: none;
    color: #000;
    background-color: #99FF91;
    border: 1px solid #000000;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    padding: 5px 20px;
    text-transform: uppercase;
}

.search-menu__text__link__right {
    margin-right: 15px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border: 1px solid #000000;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    padding: 5px 20px;
    text-transform: uppercase;
}
/* /search-menu */

/* /MAIN */
