*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: 2px dotted #000;
    outline-offset: 3px;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: #E5E5E5;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
}

/* Header */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
}

.header__menu-nav__item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

 .header__menu-nav__items {
     list-style: none;
}

.header__menu-nav__items:not(:last-child) {
    margin-right: 12px;
}

.header__menu-nav__items__link {
    font-weight: 700;
    font-size: 23px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    background-color: rgba(202, 202, 202, 0.6);
    border: 1px solid #000000;
    border-radius: 100px;
    padding: 8px 12px;
}

.header__menu-nav__items__link:hover{
    background-color: #99FF91;
}

.header__menu-nav__items__link:active{
    background-color: #99FF91;
    opacity: 0.6;
}


.header__menu-nav__items__link-firstChild{
    background-color: #000;
    color: #fff;
}

.header__menu-nav__items__link-firstChild:hover {
    background-color: rgba(202, 202, 202, 0.6);
    color: #000;
}

.header__menu-nav__items__link-firstChild:active {
    background-color: rgba(202, 202, 202, 0.6);
    opacity: 0.6;
}

.header__menu-nav__items__link-lastChild{
    background-color: #99FF91;
}

.header__menu-nav__items__link-lastChild:hover{
    background-color: rgba(202, 202, 202, 0.6);
    color: #000;
}

.header__menu-nav__items__link-lastChild:active{
    background-color: rgba(202, 202, 202, 0.6);
    opacity: 0.6;
}


.header-container {
   display: flex;
   justify-content: center;
   align-items: center;
}

.header-container__img {
    max-width: 1300px;
    height: 200px;
    width: 100%;
} 

hr {
    border: 2px solid #000;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}
/* /Header */

